<main>
  <h3>Password Generator</h3>
  @if(error) {
  <p class="error-message">{{ error }}</p>
  }

  <div class="card">
    <div class="password-display">
      @for (char of password.split(''); track char+random) {
      <span [ngStyle]="{'color': getCharColor(char)}">
        {{char}}
      </span>
      }
    </div>
  </div>
  <div class="card" [formGroup]="passwordForm">
    <input type="number" id="passwordLength" formControlName="passwordLength" min="5" maxlength="50"
      placeholder="Enter password length between 5 and 50" />
    <div class="checkbox-group">
      <label>
        <input type="checkbox" formControlName="includeAlphabets"> Include Alphabets
      </label>
      <label>
        <input type="checkbox" formControlName="includeNumbers"> Include Numbers
      </label>
      <label>
        <input type="checkbox" formControlName="includeSpecialChar"> Include Special Characters
      </label>
    </div>
    <button (click)="handleGeneratePassword()" [disabled]="error">
      Generate <span style="font-size: 24px">&#8594;</span>
    </button>
  </div>
</main>