main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  gap: 12px;
  color: #fff;
  font-family: monospace;
}
.card {
  padding: 12px 24px;
  background-color: #222424;
  width: 640px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
button {
  background-color: #04aa6d;
  border: none;
  color: white;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: monospace;
}
button:disabled {
  background-color: #c1c1c1;
  cursor: not-allowed;
}
.error-message {
  color: #e86969;
}
h3 {
  color: #5f6262;
  font-size: 20px;
}
.password-display {
  font-size: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #04aa6d;
  outline: none;
  transition: border-color 0.3s ease;
  min-width: 300px;
  background-color: #222424;
  color: #fff;
  text-align: center;
}
input[type="number"]:focus {
  border-color: #04aa6d;
}
input[type="number"]::placeholder {
  color: #888;
}
.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 20px 10px;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-group input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin: 0;
  appearance: none;
  border: 2px solid #04aa6d;
  border-radius: 0px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-color: transparent;
  transition: all 0.3s ease;
}
.checkbox-group input[type="checkbox"]:checked {
  background-color: #04aa6d;
  border-color: #04aa6d;
}

.checkbox-group input[type="checkbox"]:checked::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}
.checkbox-group input[type="checkbox"]:hover {
  border-color: #028a57;
}
