<main>
  <h3>Password Generator</h3>
  <div class="alert">
    @if(error) {
    <p class="error-message">{{ error }}</p>
    }
  </div>
  <div class="card">
    <div class="password-display">
      {{ password }}
    </div>
  </div>
  <div class="card" [formGroup]="passwordForm">
    <input type="number" id="passwordLength" formControlName="passwordLength" min="5" maxlength="50"
      placeholder="Enter password length between 5 and 50" />
    <button (click)="handleGeneratePassword()" [disabled]="error">
      Generate <span style="font-size: 24px">&#8594;</span>
    </button>
  </div>
</main>